:root {
  --lightgray: #F5F5F5;
  --gray: #D8D8D8;
  --midgray: #757575;
  --black: #222222;
  --white: #ffffff;
  --red: #eb3e3e;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, -apple-system, "Segoe UI", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
}

.App {
  max-width: 100%;
  padding-top: calc(100px + 2%);
  overflow: hidden;
}

#siteheader {
  width: 100%;
  position: fixed;
  top: 0;
  background: var(--red);
  color: var(--white);
  font: "Bebas Neue", Impact, -apple-system, "Segoe UI", Arial, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem;
}

h1 {
  font-size: inherit;
  padding: 0;
  margin: 0;
}

.nba-scores {
  margin-bottom: calc(50px + 5%);
}

.mlb-scores {
  margin-bottom: 50px;
}

.boxscore-wrapper {
  max-width: 100%;
  overflow: auto;
}

.boxscore {
  display: inline-block;
  color: var(--midgray);
  border: 1px solid var(--gray);
  border-radius: 5px;
  overflow: auto;
}

.mlb-scores .boxscore {
  min-width: 340px;
}

.boxscore__label {
  display: flex;
  height: 2rem;
  width: 50px;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--gray);
}

.boxscore__team {
  display: flex;
  align-items: center;
}

.boxscore__team__results {
  border-left: 1px solid var(--gray);
}

.boxscore__label, .boxscore__team__results {
  background: var(--lightgray);
  font-weight: 600;
}

.boxscore__team--header {
  border-bottom: 1px solid var(--gray);
}

.boxscore__team__units,
.boxscore__team__results {
  display: flex;
  justify-content: left;
  align-items: center;
}

.boxscore__team__units span,
.boxscore__team__results span {
  display: flex;
  height: 2rem;
  width: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.boxscore__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--gray);
}

.boxscore__details__team {
  flex: 1;
  background: var(--black);
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.boxscore__details__team__name {
  display: block;
  margin-bottom: 0.5rem;
}

.boxscore__details__team__score {
  font-size: 1.5rem;
}

.boxscore__details__info {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .boxscore__team__units span, .boxscore__team__results span {
    width: 2.5rem;
    font-size: .875rem;
  }
}

@media screen and (max-width: 600px) {
  #siteheader {
    font-size: 1.5rem;
  }
  .mlb-scores .boxscore__team__units span, .mlb-scores .boxscore__team__results span {
    width: 2rem;
  }
}

@media screen and (max-width: 650px) {
  .mlb-scores .boxscore__team__units span, .mlb-scores .boxscore__team__results span {
    width: 1.5rem;
  }
}